{% extends "base.html" %}
{% block title %}My Aviatrix Lab Kit - Home Page{% endblock %}
{% block content %}

<h1>Environment Inputs</h1>
<form method = "POST">
    <div class="shadow-lg p-3 mb-5 bg-body rounded bg-dark text-light">
        {{ form.hidden_tag() }}
        <br/>
        <h5 class="card-title">Amazon Web Services (AWS)</h5>
        {{ form.aws_key_id.label(class="form-label") }}
        {{ form.aws_key_id(class="form-control") }}
        {{ form.aws_key_value.label(class="form-label") }}
        {{ form.aws_key_value(class="form-control") }}              
        <br/><br/>
        <h5 class="card-title">Terraform Cloud Provider</h5>
        {{ form.terraform_org_name.label(class="form-label") }}
        {{ form.terraform_org_name(class="form-control") }}
        {{ form.terraform_api_key.label(class="form-label") }}
        {{ form.terraform_api_key(class="form-control") }}
        <br/><br/>
        <h5 class="card-title">Recovery Email</h5>
        {{ form.recovery_email.label(class="form-label") }}
        {{ form.recovery_email(class="form-control") }}
        <br/><br/>
    </div>
    {{ form.submit(class="btn btn-dark") }}  
</form>

{% if state != ''%}
<h1>Macro Environment Controls</h1>
<form method = "POST">
    <div class="container shadow-lg p-3 mb-5 bg-body rounded bg-dark text-light">
        {% if state == 'provision_controller'%}
        <input type="submit" name="submit_button" class="btn btn-success" value="Launch Environment">
        {% elif state != 'new' %}
        <input type="submit" name="submit_button" class="btn btn-danger" value="Destroy Environment">
        <a href="https://{{aviatrix_controller_public_ip}}" class="btn btn-info" role="button">Go To Controller/CoPilot</a>
        <a href="https://{{aviatrix_sst_public_ip}}" class="btn btn-warning" role="button">Go To SST</a>
        <br/><br/>
        <p><b>Username:</b> Admin <b>Password:</b> P@ssw0rd</p>
        {% else %}
        <b>This section is disabled until all requirements inputs are made</b>
        {%- endif %}
    </div>
</form>
{% endif %}

{% endblock %}